<section class="section">
    <div class="single_public_recipe">
        <% @recipes.each do |recipe| %>
            <h2><%= recipe.name%></h2>
            <p>By: <%= recipe.user.name%></p>
            <p>Total food items: 4</p>
            <p>Total price: $203</p>
        <% end %>
    </div>
</section>

