<h1>Show all recipes</h1>
<%= link_to 'Add Recipe', new_recipe_path %>
<% @recipes.each do |r| %>
  <div>
    <h2><%= link_to r.name, recipe_path(r.id) %></h2>
    <p><%= r.description%></p>
  </div>
  <% if current_user.id == r.user_id %>
    <%= button_to 'Remove', recipe_path(r.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

<% end %>
