<h2><%= @recipe.name %></h2>
<section>
  <p>Preparation time: <%= @recipe.preparation_time %> hour</p>
  <p>Cooking time: <%= @recipe.cooking_time %> hour</p>
  <p>ÙSteps go here...<%= @recipe.description %></p>
  <div>
    <button>Generating Shopping List</button>
    <button>Add Ingredient</button>
  </div>
</section>